.edu {
  margin: 2rem min(2rem, 4%);
  display: flex;
  gap: 2.5rem;
  width: min(90%, 50rem);
  align-items: flex-start;
}

.edu-text p {
  margin: 0;
}

.edu-text {
  display: flex;
  flex-direction: column;
}

.UBCcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 4em;
  height: auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
  --shadow: 4px 4px #000000;
  box-shadow: var(--shadow);
}

.UBClogo {
  width: 100%;
  height: auto;
}
