.edu {
  margin: 2rem min(2rem, 4%);
  display: flex;
  gap: 1.75rem;
  width: min(90%, 50rem);
  align-items: flex-start;
}

.edu-text i {
  font-size: 85%;
}

.edu .courses {
  margin: 1em 0 0.5em 0;
  font-size: 0.8em;
  color: var(--text-alt);
}

.edu-text p {
  margin: 0;
}

.edu-text {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.UBCcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 4em;
  height: auto;
  background-color: white;
  border: 1px solid var(--border);
  border-radius: 12px;
  box-shadow: 4px 4px var(--shadow);
}

.UBClogo {
  width: 100%;
  height: auto;
}
