.edu {
  margin: 2rem 0rem;
  display: flex;
  gap: 1.5rem;
  width: min(93%, 60rem);
  align-items: flex-start;
  align-self: center;
}

.edu.appear {
  animation: appearUp 0.7s ease-out both 0.3s;
}

.edu-text i {
  font-size: 0.85em;
}

.edu .courses {
  margin: 1em 0 0.5em 0;
  font-size: 0.8em;
  color: var(--text-alt);
}

.edu-text p {
  max-width: 44rem;
}

.edu-text {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.UBCcontainer {
  flex-shrink: 0;
  width: 4em;
  height: 4em;
  background-color: white;
  border: 1px solid var(--border);
  border-radius: 12px;
  box-shadow: 4px 4px var(--shadow);
}

.UBClogo {
  width: 100%;
  height: auto;
}
