.exp {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  align-items: flex-start;
  width: min(97%, 64rem);
  padding-bottom: 1.5rem;
  margin-top: 0.75rem;
}

.exp ul {
  padding-left: 1rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
  flex-wrap: wrap;
  color: var(--text-alt);
  line-height: 1.5rem;
}

.exp li::marker {
  font-size: 90%;
}

.exp i {
  font-size: 85%;
}

.exp-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.exp li:not(:last-child) {
  margin-bottom: 0.25rem;
}

.exp-header p, h3, h4 {
  margin: 0;
}

.logocontainer {
  margin-right: 2rem;
  width: 4.5rem;
  height: auto;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 8px;
  --shadow: 4px 4px #000000;
  box-shadow: var(--shadow);
  aspect-ratio: 1 / 1;
  overflow: hidden
}

.logo {
  display: flex;
  height: auto;
  width: 100%;
}
