.exp {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  align-items: flex-start;
  width: min(97%, 64rem);
  padding-bottom: 1.5rem;
  margin-top: 0.75rem;
}

.exp ul {
  padding-left: 1rem;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  flex-wrap: wrap;
}

.exp-header {
  display: flex;
  align-items: center;
}

.exp-header p, h3, h4{
  margin: 0;
}

.exp-header h3 {
  margin: 22px 0 10px;
}

.logocontainer {
  margin-top: 2rem;
  margin-right: 2rem;
  width: 3rem;
  height: auto;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
  --shadow: 4px 4px #000000;
  box-shadow: var(--shadow);
  aspect-ratio: 1 / 1;
}

.logo {
  display: flex;
  height: auto;
  width: 100%;
}
