.exp {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  align-items: flex-start;
  width: min(97%, 60rem);
  margin-top: 0.75rem;
}

.exp.appear {
  animation: appearRight 0.7s ease-out both 0.2s;
}

.exp ul {
  padding-left: 2rem;
  margin-top: 1.25rem;
  flex-wrap: wrap;
  color: var(--text-alt);
  line-height: 1.5rem;
  font-size: 0.9em
}

.exp i {
  font-size: 0.85em;
}

.exp-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.exp li:not(:last-child) {
  margin-bottom: 0.5em;
}

.logocontainer {
  margin-right: 1.5rem;
  width: 4.5rem;
  height: 4.5rem;
  flex-shrink: 0;
  border: 1px solid var(--border);
  border-radius: 8px;
  box-shadow: 4px 4px var(--shadow);
  overflow: hidden;
}

.logo {
  height: auto;
  width: 100%;
}
