.proj {
  width: min(30rem, 80%);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  background-color: var(--prog-bg);
  border: 1px solid black;
  border-radius: 20px;
  --shadow: 4px 4px #000000;
  box-shadow: var(--shadow);
}

.proj a {
  padding: 6px 12px;
  color: black;
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 24px;
  --shadow: 2px 2px #000000;
  box-shadow: var(--shadow);
  transition: all 0.2s;
  height: 100%;
}

.proj a:hover {
  box-shadow: 6px 6px #000000;
}

.proj svg {
  margin: 0;
  height: 1.5rem;
  width: 1.5rem;
  color: black;
}

.proj h3 {
  margin: 0.25rem 0rem;
}

.thumbnail {
  display: flex;
  height: auto;
  width: 100%;
  flex-shrink: 1;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: white;
}

.technologies {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 8px;
  font-size: small;
  margin-right: 1.25rem;
}

.technology {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--base);
  border-radius: 4px;
  padding: 2px 6px 2px 6px;
  border: 1px solid black;
  --shadow: 1px 1px #000000;
  box-shadow: var(--shadow);
}

.proj-footer {
  display: flex;
}