.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--base);
  padding-bottom: 8rem;
}

.landing {
  height: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
