footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  background-color: var(--base);
}

footer span {
  font-size: 75%;
  color: var(--text-alt);
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  color: black;
  width: 100%;
}

footer svg {
  height: 1.25rem;
  width: 1.25rem;
  color: black;
  padding: 0.3rem;
  border-radius: 4px;
  border: 1px solid var(--border);
  box-shadow: 2px 2px var(--shadow);
  transition: all 0.2s; 
}

footer svg:hover {
  box-shadow: 6px 6px var(--shadow);
  transform: translate(-2px, -2px);
}

.footer-line {
  height: 1px;
  width: 32rem;
  margin: 0 1rem;
  background-color: var(--border);
}
