body {
  margin: 0;
  --base: #d0f0c0;
  background-color: #FBFFE4;
  font-family: sans-serif;
}

.header {
  height: 4em;
  background-color: var(--base);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header img {
  height: 28px;
  width: auto;
}

.proj-section, .exp-section, .edu-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 6em;
}

.sectionheading {
  text-align: center;
  font-size: 2em;
  margin: 1em 0.5em 2em 0.5em;
  
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--base);
  padding: 40px;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: small;
}

.technology {
  display: flex;
  flex-wrap: 1;
  background-color: var(--base);
  border-radius: 4px;
  padding: 2px 6px 2px 6px;
  border: 1px solid black;
  --shadow: 1px 1px #000000;
  box-shadow: var(--shadow);
}

.logocontainer {
  margin-top: 30px;
  margin-right: 30px;
  width: clamp(10px, 60px, 80px);
  height: clamp(10px, 60px, 80px);
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
  --shadow: 4px 4px #000000;
  box-shadow: var(--shadow);
}

.logo {
  height: auto;
  display: flex;
  flex-shrink: 1;
  width: clamp(10px, 60px, 80px);
}

.thumbnailcontainer {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
  margin-bottom: 20px;
  background-color: white;
  padding: 6px;
  border: 1px solid black;
  border-radius: 12px;
  max-height: 300px;
  height: auto;
}

.thumbnail {
  display: flex;
  max-height: inherit;
  width: auto;
  max-width: 100%;
  flex-shrink: 1;
  object-fit: contain;
  flex-wrap: wrap;
}

.exp {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  align-items: flex-start;
  width: min(95%, 1000px);
  padding-bottom: 24px;
  margin-top: 12px;
}

.exp ul {
  padding-left: 16px;
  margin-top: 4px;
  margin-left: 110px;
  flex-wrap: wrap;
}

.exp-header {
  display: flex;
  align-items: center;
}

.exp-header p {
  margin: 0;
}

.exp-header h3 {
  margin: 22px 0 10px;
}

.exp-list {
  display: flex;
  flex-direction: column;
  margin-left: min(5%, 3rem);
}

.exp-list :not(:last-child):is(.exp) {
  border-bottom: 1px solid lightgrey;
}

.proj-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.proj {
  max-width: min(500px, 60%);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  background-color: #e2e8f0;
  border: 1px solid black;
  border-radius: 20px;
  --shadow: 4px 4px #000000;
  box-shadow: var(--shadow);
}

.proj a {
  padding: 6px 12px;
  color: black;
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 24px;
  --shadow: 2px 2px #000000;
  box-shadow: var(--shadow);
}

.proj a:hover {
  box-shadow: 6px 6px #000000;
}


.proj svg {
  margin: 0;
  height: 24px;
  width: 24px;
  color: black;
}

.proj h3 {
  margin: 4px 0px;
}

.edu {
  margin: 40px;
  display: flex;
  gap: 40px;
  max-width: 80%;
}

.edu-text {
  display: flex;
  flex-direction: column;
}

.UBCcontainer {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  min-width: min(20%, 80px);
  min-height: min(20%, 80px);
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
  --shadow: 4px 4px #000000;
  box-shadow: var(--shadow);
}

.UBClogo {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 36px;
  color: black;
}

.footer svg, .header svg {
  height: 20px;
  width: 20px;
  color: black;
  padding: 4px;
  border-radius: 4px;
}

.footer svg:hover, .header svg:hover{
  background-color: black;
  color: #FBFFE4;
}

.footerline {
  height: 1px;
  width: 400px;
  margin: 0px 24px;
  background-color: black;
}