:root {
  --base: #d0f0c0;
  --secondary: #fbffe4;
  --proj-bg: #e2e8f0;
  --proj-tech: var(--base);
  --text: black;
  --text-alt: rgb(89, 89, 89);
  --border: black;
  --shadow: black;
}

body {
  margin: 0;
  background-color: var(--secondary);
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text)
}

.proj-section, .exp-section, .edu-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}

.sectionheading {
  text-align: center;
  font-size: 2em;
  margin: 1em 0 2em 0;
}

p, h3, h4 {
  margin: 0;
}