:root {
  --base: #d0f0c0;
  --secondary: #fbffe4;
  --prog-bg: #e2e8f0;
  --text: black;
  --text-alt: rgb(89, 89, 89);
  --border: black;
  --shadow: black;
}

body {
  margin: 0;
  background-color: var(--secondary);
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.proj-section, .exp-section, .edu-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}

.sectionheading {
  text-align: center;
  font-size: 2em;
  margin: 1em 0.5em 2em 0.5em;
}